<div class="d-flex flex-column flex-column-fluid">
  <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div
      id="kt_app_toolbar_container"
      class="app-container container-xxl d-flex flex-stack"
    >
      <div
        class="page-title d-flex flex-column justify-content-center flex-wrap me-3"
      >
        <h1
          class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"
        >
          Users
        </h1>
        <ul
          class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1"
        >
          <li class="breadcrumb-item text-muted">
            <a href="/admin" class="text-muted text-hover-primary">Home</a>
          </li>
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-400 w-5px h-2px"></span>
          </li>
          <li class="breadcrumb-item text-muted">Users</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
      <div class="card">
        <div class="card-header border-0 pt-6">
          <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
              <span class="svg-icon svg-icon-1 position-absolute ms-6">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    opacity="0.5"
                    x="17.0365"
                    y="15.1223"
                    width="8.15546"
                    height="2"
                    rx="1"
                    transform="rotate(45 17.0365 15.1223)"
                    fill="currentColor"
                  />
                  <path
                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <input
                type="text"
                id="table-search"
                class="form-control form-control-solid w-250px ps-14"
                placeholder="Search users"
              />
            </div>
          </div>

          <div class="card-toolbar">
            <div
              class="d-flex justify-content-end"
              data-users-table-toolbar="base"
            ></div>
            <div
              class="d-flex justify-content-end align-items-center d-none"
              data-users-table-toolbar="selected"
            >
              <div class="fw-bold me-5">
                <span
                  class="me-2"
                  data-users-table-select="selected_count"
                ></span
                >Selected
              </div>
              <button
                type="button"
                class="btn btn-danger"
                data-users-table-select="deactivate_selected"
              >
                Delete Selected
              </button>
            </div>
          </div>
        </div>

        <div class="card-body py-4">
          <table
            class="table align-middle table-row-dashed fs-6 gy-5"
            id="users-table"
          >
            <thead></thead>
            <tbody class="text-gray-600 fw-semibold"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="edit-user-id" />
        <div class="mb-4">
          <label class="form-label required">Name</label>
          <input
            type="text"
            id="edit-user-name"
            class="form-control"
            placeholder="Enter name"
          />
        </div>
        <div class="mb-4">
          <label class="form-label required">Phone</label>
          <input
            type="text"
            id="edit-user-phone"
            class="form-control"
            placeholder="Enter phone"
          />
        </div>
        <div class="mb-4">
          <label class="form-label required">Address</label>
          <input
            type="text"
            id="edit-user-address"
            class="form-control"
            placeholder="Enter address"
          />
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <label class="form-label required">City</label>
            <input
              type="text"
              id="edit-user-city"
              class="form-control"
              placeholder="Enter city"
            />
          </div>
          <div class="col-6">
            <label class="form-label required">State</label>
            <input
              type="text"
              id="edit-user-state"
              class="form-control"
              placeholder="Enter state"
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <label class="form-label required">Country</label>
            <input
              type="text"
              id="edit-user-country"
              class="form-control"
              placeholder="Enter country"
            />
          </div>
          <div class="col-6">
            <label class="form-label required">Postal Code</label>
            <input
              type="text"
              id="edit-user-postal-code"
              class="form-control"
              placeholder="Enter postal code"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="save-edit-user">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
